# Extract all NDC information from RxNorm

2019-06-03

Extract the NDC info in RxNorm.
Analyze the information in a later step.

In [1]:
import pandas as pd

## Read `RXNSAT.RRF`

The NDCs should be in `RXNSAT.RRF` according to the technical documentation:
https://www.nlm.nih.gov/research/umls/rxnorm/docs/2019/rxnorm_doco_full_2019-1.html#s6_0

In [2]:
rxsat = (pd
    .read_csv("../../data/rxnorm/RXNSAT.RRF", sep='|', names=[
        "rxcui", "lui", "sui", "rxaui", "stype",
        "code", "atui", "satui", "atn", "sab",
        "atv", "suppress", "cvf",
        "temp"
    ])
    .dropna(axis=1, how="all")
)

In [3]:
rxsat.shape

(8245946, 10)

In [4]:
rxsat.head()

,rxcui,rxaui,stype,code,atui,atn,sab,atv,suppress,cvf
0,3,8717795,AUI,58488005,NaN,UMLSAUI,RXNORM,A27769867,NaN,NaN
1,3,8717795,AUI,58488005,NaN,UMLSCUI,RXNORM,C0000052,NaN,NaN
2,3,8717796,AUI,58488005,NaN,UMLSAUI,RXNORM,A27780666,NaN,NaN
3,3,8717796,AUI,58488005,NaN,UMLSCUI,RXNORM,C0000052,NaN,NaN
4,3,8717808,AUI,58488005,NaN,UMLSAUI,RXNORM,A27766654,NaN,NaN

### Basic info

In [5]:
rxsat["atn"].value_counts().head()

NDC           1670442
SPL_SET_ID    1408364
UMLSCUI       1022945
UMLSAUI       1015392
LABELER        319007
Name: atn, dtype: int64

---

## Extract NDCs

In [6]:
ndcs = rxsat.query("atn == 'NDC'")

In [7]:
ndcs.shape

(1670442, 10)

In [8]:
ndcs.head()

,rxcui,rxaui,stype,code,atui,atn,sab,atv,suppress,cvf
49554,1356,1473211,AUI,4009746,NaN,NDC,VANDF,000395021301,O,NaN
49555,1356,1473211,AUI,4009746,NaN,NDC,VANDF,000395021391,O,NaN
49556,1356,1473211,AUI,4009746,NaN,NDC,VANDF,017317004101,O,NaN
49557,1356,1473211,AUI,4009746,NaN,NDC,VANDF,017317004105,O,NaN
49558,1356,1473211,AUI,4009746,NaN,NDC,VANDF,049452815001,O,NaN

## Save to file

In [9]:
ndcs.to_csv("../../pipeline/rxnorm/raw_ndc_info.tsv", sep='\t', index=False)